* {
    border: none;
    border-radius: 0;

    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 13px;

    min-height: 0;
}

window#waybar {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .45), transparent);
    color: white;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    color: white;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.35);
}

#workspaces button.active {
    border-top: 2px solid white;
}

#temperature {
    transition: background linear .25s;
}

#temperature.critical {
    background: linear-gradient(rgba(255, 16, 77, .8), rgba(255, 77, 75, .45), rgba(255, 77, 75, 0));
}

#pulseaudio {
    transition: background linear .25s;
}

#pulseaudio.muted {
    background: linear-gradient(rgba(255, 16, 16, .8), rgba(255, 16, 16, .45), rgba(255, 16, 16, 0));
}

#battery {
    padding: 0 1rem;
    transition: background linear .25s;
}

#battery.charging {
    background: linear-gradient(rgba(38, 166, 91, .8), rgba(38, 166, 91, .45), rgba(38, 166, 91, 0));
}

#battery.warning:not(.charging) {
    background: linear-gradient(rgba(255, 190, 97, .8), rgba(255, 190, 97, .45), rgba(255, 190, 97, 0));
}

@keyframes blink {
    to {
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .45), transparent);
    }
}

#battery.critical:not(.charging) {
    background: linear-gradient(rgba(255, 16, 16, .8), rgba(255, 16, 16, .45), rgba(255, 16, 16, 0));
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
